@model IEnumerable<CrudApp.Models.Course>
<div id="mainDiv">
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <input type="button" class="btn btn-success" value="Create New" id="submit" onclick="Courses.OpenPopUp()">
    </p>
    <div class="feedback">

    </div>

    @* Hidden fields *@

    <input type="hidden" id="hidden_course_id" />

    <table class="table" id="CoursesTable">
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Level</label>
            </th>
            <th>
                <label>Fullprice</label>
            </th>
            <th>
                <label>AuthorId</label>
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.ValidationMessageFor(modelItem => item.Name)<br />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    @Html.ValidationMessageFor(modelItem => item.Description)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    <button class="btn btn-info" id ="m" type="button" onclick="Courses.OpenEditModal(@item.Id)">Edit</button>
                    <button class="btn btn-info" type="button" onclick="Courses.OpenDetailsModal(@item.Id)">Details</button>
                    <button class="btn btn-info" type="button" onclick="Courses.Delete('@item.Id','@item.Name')">Delete</button>

                </td>
            </tr>
        }

    </table>

</div>
