@model IEnumerable<CrudApp.ReservationForTable>
<div id="mainDiv">
    <p>
        <br>
        <input type="button" class="btn btn-success" value="Reserve Table" id="submit" onclick="Reservations.OpenPopUp()">
    </p>
    <div class="feedback">

    </div>

    @* Hidden fields *@

    <input type="hidden" id="hidden_course_id" />

    <table class="table" id="ReservationsTable">
        <tr>
            <th>
                <label>Table Available</label>
            </th>

            <th>
                <label>Number Of Person</label>
            </th>

            <th>
                <label>Check In</label>
            </th>
            <th>
                <label>Check Out</label>
            </th>

            <th>
                <label>Location</label>
            </th>

            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Table_Number)
                    @Html.ValidationMessageFor(modelItem => item.Total_Table_Number)<br />

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Total_Person)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locations)
                </td>

                <td>
                    <button class="btn btn-info" id="m" type="button" onclick="Reservations.EditReservationDetails(@item.Id)">Modify Reservartion</button>
                    <button class="btn btn-info" type="button" onclick="Reservations.OpenReservationDetails(@item.Id)">Reservation Details</button>

                </td>
            </tr>
        }

    </table>

</div>
